:root {
  --palette-color-3: #ee4540;
  --palette-color-1: #c72c41;
  --palette-color-2: #801336;
  --palette-color-4: #510a32;
  --palette-color-5: #2d142c;
  --palette-color-5-mild: hsla(0, 0%, 80%, 0.15);
}
