docs:{{ (datasource "data").image.tag }}:
  needs:
    - build:{{ (datasource "data").image.tag }}
  image:
    name: donaldrich/docker:latest
    entrypoint: [""]
  retry: 2
  before_script:
    - *var-print
  stage: documentation
  services:
    - name: docker:stable-dind
      command: ["--experimental"]
  script:
    - docker pull donaldrich/function:{{ (datasource "data").image.tag }}
    - docker run --rm donaldrich/function:{{ (datasource "data").image.tag }} help || true
    - docker run --rm donaldrich/function:{{ (datasource "data").image.tag }} help > $CI_PROJECT_DIR/.meta/snippets/config/{{ (datasource "data").image.tag }}.md || true
    - docker run --rm donaldrich/function:{{ (datasource "data").image.tag }} validate > $CI_PROJECT_DIR/.meta/snippets/version/{{ (datasource "data").image.tag }}-docker.md || true
    - docker image inspect donaldrich/function:{{ (datasource "data").image.tag }} | jq . > $CI_PROJECT_DIR/.meta/snippets/image-info/{{ (datasource "data").image.tag }}.md
# - docker history donaldrich/function:{{ (datasource "data").image.tag }} > $CI_PROJECT_DIR/.meta/snippets/layers/{{ (datasource "data").image.tag }}.md || true
  variables:
    REGISTRY: $DOCKERHUB_USER
    GIT_STRATEGY: fetch
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: /certs/client
    DOCKER_TLS_CERTDIR: /certs
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      changes:
        - "{{ (datasource "path").path }}/*"
      when: on_success
    - if: '$TRIGGER_VAR1 == "all"'
      when: on_success
    - if: '$TRIGGER_VAR1 == "{{ (datasource "data").image.tag }}"'
      when: on_success
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: on_success